body{



background-color: bisque;





}





.ajajajajajaahahha{



    text-align: center;


    
}


.ajajajajajaahahha a{



    color: black;

    text-decoration: none;
    
    
    padding: 8px 15px;
    
    display: inline-block;
    



}

