#asdasdl{
display: block;

text-align: center;
}


body{
background-color: bisque;
    border: solid;
}

.ajajajajajaahahha{



    text-align: center;
}


.ajajajajajaahahha a{

color: black;

text-decoration: none;


padding: 8px 15px;

display: inline-block;

}